PORT=3000
DATABASE_URL=postgres://username:password@host:5432/dbname
TRON_FULL_HOST=https://api.trongrid.io
TRON_PRIVATE_KEY=replace_with_private_key
TRONGRID_API_KEY=replace_with_trongrid_api_key
FOURTEEN_TOKEN_CONTRACT=TMLXiCW2ZAkvjmn79ZXa4vdHX5BE3n9x4A
FOURTEEN_CONTROLLER_CONTRACT=TF8yhohRfMxsdVRr7fFrYLh5fxK8sAFkeZ
ADMIN_SYNC_TOKEN=replace_with_long_random_secret
